.anim-fade-in {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out
}

.anim-fade-in.fast {
    animation-duration: .3s
}

@keyframes fade-in {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.anim-fade-out {
    animation-name: fade-out;
    animation-duration: 1s;
    animation-timing-function: ease-out
}

.anim-fade-out.fast {
    animation-duration: .3s
}

@keyframes fade-out {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.anim-fade-up {
    opacity: 0;
    animation-name: fade-up;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 1s
}

@keyframes fade-up {
    0% {
        opacity: .8;
        transform: translateY(100%)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.anim-fade-down {
    animation-name: fade-down;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in
}

@keyframes fade-down {
    0% {
        opacity: 1;
        transform: translateY(0)
    }

    to {
        opacity: .5;
        transform: translateY(100%)
    }
}

.anim-grow-x {
    width: 0;
    animation-name: grow-x;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: .5s
}

@keyframes grow-x {
    to {
        width: 100%
    }
}

.anim-shrink-x {
    animation-name: shrink-x;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: .5s
}

@keyframes shrink-x {
    to {
        width: 0
    }
}

.anim-scale-in {
    animation-name: scale-in;
    animation-duration: .15s;
    animation-timing-function: cubic-bezier(.2,0,.13,1.5)
}

@keyframes scale-in {
    0% {
        opacity: 0;
        transform: scale(.5)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}